a{
    color:inherit;
    text-decoration:none;
}
.title{
    font-size:25px;
    font-weight:bold;
    background-color:rgb(211, 170, 5);
    text-align:center;
}

.background{
    background-color:rgb(248, 225, 169);
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.item{
    border-radius:5px;
    font-size:20px;
    padding:13px;
    background-color:rgb(188, 150, 0);
    width:600px;
    margin-top:15px;
    color:bisque;
    text-align:center;
    
   
}

.content{
    font-size:15px;
    color:black;
    text-align:left;
    line-height: 25px;
    
}

.butn{
    margin-top:5px;
    text-align:center;
    font-size:15px;
    background-color:darkolivegreen;
    padding:3px;
    border-radius:10px;
    width:50px;
}

.msover{
    margin-top:5px;
    text-align:center;
    font-size:15px;
    padding:3px;
    border-radius:10px;
    width:50px;
    background-color:rgb(135, 171, 74);
    cursor:pointer;
}

.msout{
    margin-top:5px;
    text-align:center;
    font-size:15px;
    background-color:darkolivegreen;
    padding:3px;
    border-radius:10px;
    width:50px;
    

}
@media(min-width:1200px){
    .background{
        background-color:rgb(248, 225, 169);
        display:block;
        flex-wrap:none;
        justify-content:center;
    }
    .item{
        margin:15px auto
    }

}

@media(max-width:800px){
    .item{
        width:70%;
        margin-top:15px;
    }
}

