a{
    color:inherit;
    text-decoration:none;
}
.title{
    font-size:25px;
    font-weight:bold;
    background-color:#955a1f;
    text-align:center;
    color:rgba(255, 255, 255, 0.902);
}

.background{
    background-color:#d7b382;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.item{
    border-radius:5px;
    font-size:20px;
    padding:13px;
    background-color:#b47c45;
    width:600px;
    margin-top:15px;
    color:rgba(255, 255, 255, 0.902);
    text-align:center;
    
   
}

.content{
    font-size:15px;
    color:#ead9ce;
    text-align:left;
    line-height: 25px;
}

.content1{
    font-size:15px;
    color:#ead9ce;
    text-align:left;
    line-height: 25px;
    text-align:center
    
}
.butna{
    margin-right:10px;
    margin-top:5px;
    text-align:center;
    font-size:15px;
    background-color:rgb(191, 172, 126);
    padding:3px;
    border-radius:10px;
    width:60px;

}


.butn{
    margin-top:5px;
    text-align:center;
    font-size:15px;
    background-color:rgb(191, 172, 126);
    padding:3px;
    border-radius:10px;
    width:60px;
}

.msover{
    margin-right:10px;
    margin-top:5px;
    text-align:center;
    font-size:15px;
    padding:3px;
    border-radius:10px;
    width:60px;
    background-color:rgb(210, 207, 189);
    cursor:pointer;
}

.msout{
    margin-right:10px;
    margin-top:5px;
    text-align:center;
    font-size:15px;
    background-color:rgb(191, 172, 126);
    padding:3px;
    border-radius:10px;
    width:60px;
    

}
@media(min-width:1200px){
    .background{
        background-color:#d7b382;
        display:block;
        flex-wrap:none;
        justify-content:center;
    }
    .item{
        margin:15px auto
    }

}

@media(max-width:800px){
    .item{
        width:70%;
        margin-top:15px;
    }
}

